<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>HouseTime Anuncios</title>
</head>

<body>
<!--Header y Anuncios-->
<header class="header">
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'housetime' %}">
                <h4>House Time</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutus' %}">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'anuncios' %}">Anuncios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'promociones' %}">Promociones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Titulo de las Promociones-->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Conoce las mejores ofertas</h2>
            </div>
        </div>

        <div class="row mt-2">
            {% for i in anuncios %}
            <div class="col-12 col-md-4 col-lg-4 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div id="controlAnuncio-1" class="carousel slide" data-interval="false" data-ride="carousel">
                            <div class="carousel-inner carousel-auncios">
                                {% for s in imagenes %}
                                {% if i.id_imagen_id == s.id_imagen %}
                                <div class="carousel-item active">
                                    <img src="/media/{{ s.nombre_imagen }}" class="d-block w-100" alt="...">
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <h5 class="card-title">{{ i.titulo }}</h5>
                        <p class="card-text">{{ i.descripcion }}</p>

                        <form method="POST" action="{% url 'compra-detalle' %}">
                            {% csrf_token %}

                            <div class="coordenadas">
                                <input type="text" name="id_anuncio" value="{{ i.id_anuncio }}">
                            </div>
                            <button type="submit " class="btn btn-primary btn-block" id="sendMessageButton ">Detalles
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</main>
<footer id="footer" class="pb-4 pt-4">
    <div class="container-fluid">
        <p class="m-0 text-center text-white">Copyright &copy; House Time 2020</p>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script text="text/javascript" src="{% static 'js/jquey-3.5.1.slim.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script text="text/javascript" src="{% static 'js/jquery.animateNumber.js' %}"></script>
<script text="text/javascript" src="{% static 'js/script_jquery.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/mapa.js' %}"></script>

</body>

</html>